@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

  body {
    font-family: 'Roboto', sans-serif;
  }

  .form-slide-fade-enter-active {
    transition: all 150ms ease-out;
  }

  .form-slide-fade-leave-active {
    transition: all 150ms cubic-bezier(1, 0.5, 0.8, 1);
  }

  .form-slide-fade-enter-from,
  .form-slide-fade-leave-to {
    transform: translateY(-15px);
    opacity: 0;
  }
}
